*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Courier Prime', Courier, monospace;
}

body {
    margin: 30px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: blanchedalmond;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    font-size: medium;
}

p {
    margin-top: 6px;
    margin-bottom: 12px;
}

div {
    display: flex;
    width: auto;
    border: 5px solid whitesmoke;
    margin: 20px;
    padding: 20px;
    height: 450px;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 400px;
}

#tech1 {
    height: 150px;
    margin-right: 50px;
}
