*{
    box-sizing: border-box;
    margin:0;
    font-family: "Funnel-Display", "Arial Narrow", sans-serif;
}

body {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#board {
    position: absolute;
    margin-top: 2%;
    margin-left: 15%;
    width: 600px;
    height: 600px;
    background-image: url(img/bg.png);
    outline: 7px solid rgb(69, 49, 40);
}

#toolbar {
    width: 20%;
    margin-left: auto;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

#colour {
    height: 80px;
    width: 80px;
    border: 5px solid rgb(0, 0, 0);
}

.tool {
    width: 200px;
    height: 75px;
}

#pickcolour {
    margin-top: 5%;
}

#colour, .tool, #pickcolour {
    margin-bottom: 7%;
}

#pin {
    width: 75px; 
    border-radius: 50%;
}

#moretools {
    background-color: rgb(48, 72, 106);
    width: 100%;
    height: 7%;
    bottom: 0;
    position: fixed;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bar  {
    width: 100px;
    height: 25px;
    background-color: rgb(181, 228, 255);
}

.visualslist {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    outline: 5px solid black;
    /* align-self: center; */
    margin-top: 6%;
    margin-left: 15%;
    padding: 5%;
    max-width: 70%;
    max-height: 70%;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
.setvis {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    margin: 4%;
}

#set1 {
    background-color: beige;
}
#set1:hover {
    background-color: rgb(148, 159, 147);
}
#set2 {
    background-image: url(img/o2i.png);
}
#set2:hover {
    background-image: url(img/o2ii.png);
}
#set3 {
    background-image: url(img/o3i.png);
}
#set3:hover {
    background-image: url(img/o3ii.png);
}
#set4 {
    background-image: url(img/o4i.png);
}
#set4:hover {
    background-image: url(img/o4ii.png);
}
#set5 {
    background-image: url(img/o5i.png);
}
#set5:hover {
    background-image: url(img/o5ii.png);
}
#set6 {
    background-image: url(img/o6i.png);
}
#set6:hover {
    background-image: url(img/o6ii.png);
}
#set7 {
    background-image: url(img/o7i.png);
}
#set7:hover {
    background-image: url(img/o7ii.png);
}
#set8 {
    background-image: url(img/o8i.png);
}
#set8:hover {
    background-image: url(img/o8ii.png);
}

.hidden {
    display: none;
}